<div class="btn-group" id="section_toggle" role="group">
      <button type="button" class="btn btn-default" id="toggle_impact"  style="background-color: #d3d3d3; box-shadow: 1px 1px 5px #555 inset;">
        Impacts
      </button>
    <a href="<%=articles_path%>">
      <button type="button" class="btn btn-default" id="toggle_article">
        Stories
      </button>
    </a>
</div>

<%= form_tag "/impact_search", method: "get" , remote: true, class: "navbar-form"  do %>
   <div class="centered_header">
     Select impact type(s)
   </div>
  <div id="impact_checkboxes">
  <%=collection_check_boxes(:impact, :impact_types, ImpactType.all, :id, :name)do |b|%>
    <%= b.label class:"label-checkbox" do%>
        <%=b.check_box(class: "check_box", id: b.object.image)%>
          <label class="type_icon" for="<%=b.object.image%>" id="<%=b.object.id%>b"></label>
          <script>
              $('input[type="checkbox"] + label#<%=b.object.id%>b').css("background", "url(<%=b.object.image%>) no-repeat center").css("background-size", "cover");
              $('input[type="checkbox"] + label').on("click", function(){
                $(this).css("background", "url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/2000px-Check_green_icon.svg.png) no-repeat center").css("background-size", "cover");
              })
              $('input[type="checkbox"] + label#<%=b.object.id%>b').hover(function(){
                  $('#descriptor<%=b.object.id%>').empty();
                  $('#descriptor<%=b.object.id%>').html("<p><%=b.object.name%></p>");
                  $('input[type="checkbox"] + label').css("opacity", "1.0");
                  $(this).css("opacity", ".8");
                })
              $('input[type="checkbox"] + label#<%=b.object.id%>b').mouseout(function(){
                $('#descriptor<%=b.object.id%>').empty();
              })
          </script>
      <%end%>
      <div class="descriptor" id='descriptor<%=b.object.id%>'></div>
  <%end%>

  <div id="impact_date_selector">
    between
    <%= date_field(:impact, :start) %>
    and
    <%= date_field(:impact, :end) %>
    <%= submit_tag("Search", id: "impact_search_submit", class: "btn btn-success") %>
  </div>
<% end %>
<br><br>

<div id="impact_search_results"></div>
