<!DOCTYPE html>
<html>
  <head>
    <title>Idas2014</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for a City">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form><br> -->
<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="/">Home</a>
    <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <%= form_tag "/search", :method => 'get', class: "navbar-form navbar-left" do %>
              <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="Search for a City">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
              <%end%>
          </div>
            <div class="col-lg-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Browse Cities <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                      <%@articles.each do |location|%>

                      <!-- <li><a href=http://localhost:3000<%=reporter_path(location.id)%>><%= location.headline %></a></li> -->
                      <%end%>

                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav>

<select >
<%@articles.each do |location|%>

<option><a href=http://localhost:3000<%=reporter_path(location.id)%>><%= location.headline %></a></option>
<%end%>
</select>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="/searchbar">Home</a></li>
      <li><a href="/locations">Browse Cities</a></li><br><br>
    </ul> -->
    <%= yield %>
  </body>
</html>
