<div id="article_display_container">
  <div class="panel panel-default">
      <div class="panel-body"><h3><a href=<%=article_path(article.id)%>><%=article.headline%></a></h3>
        <h4>
          <%article.reporters.uniq.each do |reporter|%>
            <a href=<%=reporter_path(reporter)%>><%=reporter.name%></a>
        <%end%>
        </h4>
        <div class="panel-footer">
          <div class="impact_count" id="impact_count<%=article.id%>" onclick='showImpactList(<%=article.id%>)'>
            <strong><%=article.impact_types.distinct.length%>
            <%=article.impact_types.distinct.length > 1 ? "Impacts" : "Impact"%></strong>
          </div>
          <div class="impact_list" id="impact_list<%=article.id%>">
            <%article.impact_types.distinct.each do |impact|%>
            <li><%=impact.name%><br></li>
            <%end%>
            <strong><a href=<%=new_impact_record_path(article.id)%>><em>Add Impact</em></a></strong> <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
      </div>
    </div>
</div>
