
<div class="col-sm-8 form">
    <h1> Edit Article </h1>

    <%= bootstrap_form_for @article do |f| %>
      <%= f.text_field :headline, required: true %>
      <%= f.text_field :url, required: true %>
      <%= f.text_field :info %>
      <%= f.date_field :date, required: true %>
      <%= collection_select(:reporter, :reporters, @reporters.map{|reporter|reporter}, :name, :name, { include_hidden: false}, {:multiple => true, :class => "form-control"}) %>
      <%= f.select :project_id, options_for_select(@projects.map{|project|[project.name, project.id]}), :include_blank => true %>
      <%= f.submit %>
    <% end %>
</div>
