
    <div class="col-sm-8">
          <h1> Add an Article </h1>

<%= bootstrap_form_for @article do |f| %>
  <%= f.text_field :headline, required: true %>
  <%= f.text_field :url, required: true %>
  <%= f.text_field :info %>
  <%= f.date_field :date, required: true, label: 'Online publication date' %>
  <%= f.select :reporters, options_for_select(@reporters.map{|reporter|reporter.name}), required: true %>
  <%= f.select :project_id, options_for_select(@projects.map{|project|[project.description, project.id]}) %>
  <%= f.submit %>
<% end %>
</div>
</div>
