<% if flash[:notice]%>
  <div class="alert alert-warning"><%= flash[:notice] %></div>
<%end%>

<div class="col-sm-8 form">
  <h1> Add an Article </h1>

  <%= bootstrap_form_for @article do |f| %>
    <%= f.text_field :headline, required: true %>
    <%= f.text_field :url, label: 'URL', required: true %>
    <%= f.date_field :date, required: true, label: 'Online publication date' %>
    <%=f.label :reporters %>
    <%= collection_select(:reporter, :reporters, @reporters.map{|reporter|reporter}, :name, :name, { include_hidden: false}, {:multiple => true, :class => "form-control"}) %>
    <%= f.select :project_id, options_for_select(@projects.map{|project|[project.name, project.id]}), :include_blank => true%>
    <%= f.submit %>
  <% end %>
</div>
