<% if flash[:notice] %>
  <% if flash[:notice] == "Impact added!"%>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <%else%>
    <div class="alert alert-warning"><%= flash[:notice] %></div>
    <%end%>
<% end %>

<%if @article.reporter_name == current_user.name && @article.reporters.first.publication == current_user.publication%>
  <div class="edit_button"><a href="<%=edit_article_path%>">Edit this article</a></div>
  <br>
<%end%>

<div id="article_header">
  <h1 id="article_headline_view"><a href=<%=@article.url%>><%=@article.headline%></a></h1>
  <div id="sub_head">
    <em>By
      <a href=<%=reporter_path(@article.reporter_id)%>><%=@article.reporter_name%></a>
      | <%=@article.date.strftime("%B %d, %Y")%>
    </em>
  </div>
</div>


<%@article.impacts.distinct.each do |impact|%>
  <div class="impact_bubbles">
        <div class="impact_package large">
            <div class="impact_bubble article">
                <a href="<%=impact_type_path(impact.impact_type.id)%>">
                  <img class="icon" src=<%=impact.impact_types.first.image%>></img>
                </a>
                <%if impact.impact_date%>
                    <em><h6 id="impact_bubble_date"><%=impact.impact_date.strftime("%m/%d/%Y")%></h6></em>
                <%end%>
                <div class="impact_bubble_text">
                  <h4><%=impact.description%></h4>
                </div>
            </div>
        </div>
  </div>
<%end%>

  <a href=<%=download_path(@article.id)%>><img class="icon small download_icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Download_media.svg/453px-Download_media.svg.png"></a>

  <%if current_user.title != "Reporter" || @article.reporter_name == current_user.name && @article.reporters.first.publication == current_user.publication%>
    <h5 class="subhead"><strong><a href=<%=new_impact_record_path(@article.id)%>><em>Add Impact</em></a></strong></h5>
  <%end%>
