<%@reporters.each do |reporter| %>
<%=reporter.name%>
<br>
Articles:
<%reporter.articles.distinct.each do |article|%>
<ul><a href=<%=article.url%>><%=article.headline%></a>
  <%article.impacts.distinct.each do |impact|%>
  <li><h2><%=impact.name%></h2><br>
  <h4><%=impact.description%></h4></li>
  <%end%>
</ul>

<br>
<%end%>
<br>
<%end%>
