<div id="article_choices">

<div class="centered_header" id="article_headline_view">
	<%=@user.name%>
</div>
<h4 class="left_header small">
	<em>Below, you'll find all of your articles and the impacts that you've added.
	If you'd like to view or edit an article, click on the article's display box.
	If you'd like to edit an impact, click 'edit this impact' on the impact's
	display box.<br></em>
</h4>
 <%if current_user.title == "Reporter" && current_user.reporter.first.articles.length > 0 %>
			<%= render partial: "./articles/articles_display", locals: { articles: @user.articles.uniq} %>
	<%end%>
		<div class="list_container">

			<%@user.impacts.each do |impact|%>
				<div class="impact_bubbles left">
					<div class="impact_package large">
						<div class="impact_bubble article">

							<!-- adding this conditional in case impact duplicates are made (one without
						db connections, so without has_manys).  -->
							<%if impact.impact_types.length > 0%>
									<img class="icon" src=<%=impact.impact_types.first.image%>></img>
							<%end%>
							<%if impact.impact_date%>
								<em>
									<h6 id="impact_bubble_date">
										<%=impact.impact_date.strftime("%m/%d/%Y")%>
									</h6>
								</em>
							<%end%><!-- <br> -->

							<div class="impact_bubble_text">
								<!-- adding this conditional because it appears that impact duplicates are being made, one without
							db connections, so without has_manys. will investigate.  -->
								<%if impact.impact_records.length > 0%>
									<%if impact.impact_records.first.article%>
										<h4><a href=<%=article_path(impact.impact_records.first.article.id)%>><%=impact.impact_records.first.article.headline%></a></h4>
									<%elsif impact.impact_records.first.project%>
										<h4><a href=<%=project_path(impact.impact_records.first.project.id)%>><%=impact.impact_records.first.project.name%></a></h4>
									<%end%>
								<%end%>

								<h5><%=impact.description.gsub(/\n/, '<br>').html_safe%></h5>

								<%if impact.user && impact.impact_records.length > 0 && current_user == impact.user%>
									<div class="edit_button small">
										<a href="<%=edit_impact_record_path(impact.impact_records.first.id)%>">
											Edit this impact
										</a>
									</div>
								<%end%>

							</div>
						</div>
					</div>
				</div>
			<%end%>
		</div>


</div>
