
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>A new impact has been added to the Impact Tracker!</p>
    <p><strong><%=@current_user.name%></strong> has added an impact to the article <strong><%=@article.headline%></strong>.</p>
    <p>Impact type: <strong><%=@impact_record.impact_type.name%></strong></p>
    <p>Description: <strong><%=@impact_record.impact.description%></strong></p>

  </body>
</html>
