
<% if flash[:notice] %>
  <% if flash[:notice] == "Impact added!"%>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <%else%>
    <div class="alert alert-warning"><%= flash[:notice] %></div>
    <%end%>
<% end %>


<div id="article_header">
  <%if @project.url == nil%>
    <h1 id="article_headline_view"><%=@project.name%></h1>
  <%else%>
    <a href="<%=@project.url%>"><h1 id="article_headline_view"><%=@project.name%></h1></a>
  <%end%>
  <h3><%=@project.description%></h3>
  <div id="sub_head">
  </div>

  <%if @project.articles.length > 0  %>
       <%= render partial: "./articles/articles_display", locals: { articles: @project.articles} %>
   <%end%>


  <%@project.impacts.distinct.each do |impact|%>
      <div class="impact_bubbles">
      <div class="impact_package large">
        <!-- <img class="icon" src=<%=impact.impact_types.first.image%>></img> -->

        <div class="impact_bubble article">
          <a href="<%=impacts_path%>">
            <img class="icon" src=<%=impact.impact_types.first.image%>></img>
          </a>
          <!-- <%=impact.impact_types.first.name%> -->
          <%if impact.impact_date%>
            <em><h6 id="impact_bubble_date"><%=impact.impact_date.strftime("%m/%d/%Y")%></h6></em>
          <%end%>

            <div class="impact_bubble_text" style="text-align: left">
              <h4><%=impact.description.gsub(/\n/, '<br>').html_safe%></h4>
            </div>
            <%if impact.user && impact.impact_records.length > 0 && current_user == impact.user%>
              <div class="edit_button">
                <a href="<%=edit_impact_record_path(impact.impact_records.first.id)%>">
                  Edit
                </a>
              </div>
            <%end%>
        </div>
      </div>
    </div>

  <%end%>

  <a href=<%=project_download_path(@project.id)%>>
    <img class="icon small download_icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Download_media.svg/453px-Download_media.svg.png">
  </a>
