<div class="col-sm-8 form">
  <h1> New Impact </h1>
  <%= bootstrap_form_for @impact_record do |f| %>
    <%= f.text_field :project, label: 'Story/Project that led to the impact', value: @project.name, readonly: true%>
    <%= f.text_field :impact_type, label: 'Impact Type', value: @impact_type.name, readonly: true%>
    <%= f.date_field :impact_id, label: 'When did the impact happen?', required: true %>
    <%= f.text_area :impact, label: 'Please describe the impact in full sentences, and explain how the coverage led to the impact. If you are including a link, please format it properly in HTML.', required: true %><br />
    <%= f.submit 'Add Impact' %>
  <% end %>
</div>
