<div class="panel-body">
    <div class="col-sm-5">
        <div class="container-fluid">
          <h1> New Impact </h1>
<%= bootstrap_form_for @impact_record do |f| %>
  <%= f.text_field :article, label: 'Article Name', value: @article.headline, readonly: true%>
  <%= f.text_field :impact_type, label: 'Impact Type', value: @impact_type.name, readonly: true%>
  <%= f.text_area :impact, label: 'Description' %><br />
  <%= f.submit 'Add Impact' %>
<% end %>
</end>
</end>
</end>
